<!DOCTYPE html>


<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
<body>
    <title>About</title>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" alt=""> 
    </div>
    

    {{>footer}}
    
</body>

</head>



</html>